{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    <div class="header">
        Наш простий чат на WebSocket
    </div>
    <div class="content">
        <main class="main">
            <form action="" class="msg">
                <input type="text" id="msg" class="msg__input">
                <button type="submit" class="msg__btn">Відправити</button>
            </form>
            <div class="chat">
                {% for message in messages%}
                <div class="users__item">{{message.user.login}}: {{message.message}}</div>
                {% endfor %}
            </div>
        </main>
    </div>
</div>
{% endblock %}

{% block code %}
<script src="/static/js/main.js"> </script>
{% endblock %}